body{
	background-color: #424242;
	font-family: 'Arvo', 'arial', serif;
}

.wrapper{
	width: 960px;
	margin: auto;
	border-right: 1px #fff solid;
	border-left: 1px #fff solid;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

/* HEADER CSS */

header {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
	background: rgb(125,126,125); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
	float: left;
	width: 100%;
}

header h1{
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 20px 40px;
	color: white;
	float: left;
}	

h1 span{
	color: #C40000;
}

nav ul{
	float: right;
	list-style: none;

}

nav li{
	display: inline;
	transition: .3s all;
}

nav a{
	text-decoration: none;
	color: white;
	padding: 25px;
	float: left;
	border-left: 1px #595959 solid;

}

nav a:hover{
	background: #000;
}

a.active{
	background: #000;
}

/* FOOTER CSS */

footer {
	clear: both;
	background: black;
	color: white;
	padding: 20px;
	font-family: "arial", sans-serif;
}

footer a{
	color: #C40000;
	text-decoration: none;
}

/* Multipage CSS */

.resources .hero-statement, .about .hero-statement, .work .hero-statement {
	float: left;
	padding: 25px 35px;
	margin-top: 42px;
	background-color: transparent;
	text-shadow: 0px 0px 15px rgba(150, 150, 150, 1);
}

.resources .wrapper, .about .wrapper, .work .wrapper {
	background-color: #c6c6c6;
}

a.testimonial-link, a.build-a-website, a.offered-classes-link {
	color: #C40000;
	text-decoration: none;
	font-family: 'arial';
}

.about h2, .work h2 {
	font-size: 30px;
	margin-bottom: 30px;
	padding-top: 20px;
}

.about p, .build-a-website p, .work h2{
	font-family: "arial", serif;
	font-size: 15px;
	line-height: 1em;
	margin-bottom: 10px;

}

.work aside, .about aside{
	float: right;
	width: 300px;
	background: #282828;
	color: white;
	margin: -85px 25px 0px 10px;
	padding: 20px 30px;
}

.about h2, .work h2 {
	font-size: 30px;
	margin-bottom: 30px;
	padding-top: 20px;
	font-family: "arvo";
}

.about p, .work p{
	font-family: "arial", serif;
	font-size: 15px;
	line-height: 1em;
	margin-bottom: 10px;
}

.about .hero-statement, .work .hero-statement {
	width: auto;
}

article {
	float: left;
	background: rgba(255,255,255,.6);
	margin: -85px 0px 40px 35px;
	width: 475px;
	padding: 0px 25px 25px 25px;
}

/* HOMEPAGE CSS */

.hero{
	clear: both;
	background: url('../img/aboutcherryblossom.jpg');
	background-position-y: 50%;
	background-size: 1400px;
	height: 480px;
}

.hero-statement{
	float: left;
	background-color: rgba(0,0,0,0.6);
	width: 650px;
	padding: 25px 35px;
	margin-top: 42px;
}

.hero-statement h1{
	font-size: 52px;
	color: white;
}

.hero-statement p{
	float: right;
	font-size: 120px;
	color: red;
	margin-top: -100px;
}

.about-me-blurb{
	float: right;
	background: white;
	padding: 25px;
	width: 428px;
	margin-top: 88px;
	border-top-style: 1px #C6C6C6 solid;
	border-right-style: 1px #C6C6C6 solid;
}

.gelli-statement{
	padding-left: 150px;
}

.gelli-statement h2{
	font-size: 30px;
}

p.title{
	padding-top: 15px;
	font-family: 'arial';

}

.gelli-statement a{
	color: #C40000;
	text-decoration: none;
	font-family: 'arial';
}

p.linking-to-portfolio {
	margin-top: 45px;
}

img.blurb-pic {
	float: left;
	width: 126px;
	height: 126px;
}

.first-quarter{
	clear: both;
	float: left;
	width: 480px;
	height: 425px;
	margin-right: 0px;
	background-color: white;
	border-top: 1px #C6C6C6 solid;
	border-right: 1px #C6C6C6 solid;
}

.first-quarter-blurb{
	padding: 15px 30px;
}

.first-quarter h2{
	background: black;
	color: white;
	font-size: 30px;
	padding: 15px 30px;
}

.first-quarter h2 span{
	font-weight: bolder;
}

img.first-quarter {
	width: 126px;
	height: 126px;
	border: 1px black solid;
}

.first-quarter li{
	float: left;
	display: inline;
	margin-right: 10px;
	margin-bottom: 9px;
	background: white;
}

p.testimonial {
	padding-top: 150px;
	font-family: 'arial';
}

p.testimonial-link {
	margin-top: 20px;
	padding-bottom: 35px;
}

.courses {
	float:right;
	width: 459px;
	padding-top: 20px;
	padding-left: 20px;
	height: 407px;
}

img.coursespic {
	width: 81px;
	height: 81px;
	float: left;

}

.first-quarter-classes {
	width: 450px;
	margin-bottom: 40px;
	color: white;
}

.first-quarter-classes h3 {
	font-size: 18px;
	padding-bottom: 5px;
	padding-left: 100px;
}

.first-quarter-classes p {
	font-size: 15px;
	font-family: 'arial';
	padding-left: 100px;
	padding-right: 20px;
}

/* resources CSS */

.resources .hero {
	background: url('../img/resourcesimg.jpg');
	height: 275px;
	background-position-y: 50%;
	background-size: 1400px;
}

.resources .image-box {
	float: left;
	background: url("../img/resourcesimg.png") no-repeat white;
	background-size: 611px 235px;
	width: 611px;
	margin: -100px 0px 0px 20px;
	-webkit-box-shadow: 0px 0px 49px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 49px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 49px -1px rgba(0,0,0,0.75);
}

.resources .link-box {
	float: left;
	width: 299px;
	height: 378px;
	background-color: #262525;
	position: relative;
	z-index: 2;
}

.resources .link-box.first {
	margin: -100px 0px 0px 10px;
}	

.resources h2 {
	font-size: 30px;
	padding: 20px 25px 0px 25px;
}

.resources .link-box h2 {
	color: white;
}

.resources .image-box h2 {
	margin-top: 250px;
	padding-top: 0px;
}

.image-box-description {
	padding: 20px 25px 45px 25px;
	font-family: "arial";
}

.resources .second-row {
    float: left;
    margin-right: 15px;
    margin-left: 10px;
    margin-top: 279px;
    position: absolute;
}

.resources .second-row .link-box{
	margin: 20px 1px 0px 10px;
}

.resources .link-box.last {
	margin-right: 0px;
}


p.link-box-links, a.link-box-links {
	font-size: 15px;
	font-family: "arial";
	color: white;
	padding-top: 25px;
}

a.link-box-links{
	padding: 25px 0px 25px 25px;
}

p.description {
	padding: 0px 25px;
}

p.description.last{
	padding-bottom: 25px;
}

.resources footer{
    position: relative;
    z-index: 1;
    margin-top: 665px;
}

/* About CSS */

.about .hero {
	background: url('../img/homecherryblossom.jpg');
	height: 275px;
	background-position-y: 50%;
	background-size: 1400px;
}


a.build-a-website {
	text-decoration: underline;
	padding: 0px;
	margin: 0px;
	background-color: transparent;
}

p.bordered {
	border-bottom: 1px #888 solid;
	padding-bottom: 10px;
}

p.offered-classes-intro{
	padding-bottom: 5px;
}

p.offered-classes-intro.bordered{
	padding-bottom: 15px;
}

span.caps{
	text-transform: uppercase;
}

span.bold-text {
	font-weight: bold;
	padding-right: 25px;
}

/* work css */

.work .hero-statement{
	padding-top: 0px;
}
.work .hero {
	background: url('../img/workimg.jpg');
	height: 275px;
	background-position-y: 23%;
	background-position-x: 43%;
	background-size: 1400px;
}

.work .caps{
	color: white;
}

.work h3{
	font-family: "arial";
	font-size: 18px;
	line-height: 1.3em;
}

.work p{
	padding-bottom: 20px;
}

.workimg{
	width: 118px;
	height: 118px;
	border: 5px solid white;
	float: left;
}

.about-angelica h4{
	font-size: 24px;
	font-family: "arvo";
	margin-left: 139px;
}

p.creativecircus-info{
	float: left;
	padding-left: 10px;
	padding-top: 15px;
}

p.biography{
	clear: both;
	padding-top: 10px;
	padding-bottom: 15px;
}

p.biography.last{
	margin-top: -20px;
}


